<nav class="navbar">
    <img src="/icons/logo.png" class="logo" alt="Logo">
    <div class="nav-container">
        <ul class="nav-list">
            <li>
                <a href="/api/home">Inicio</a>
            </li>
            <li>
                <a href="/api/todosSinFiltro">Lista</a>
            </li>
            <li>
                <a href="/api/paises-espaniol">Lista español</a>
            </li>
             <li>
                <a href="/api/agregar-pais">Nuevo</a>
            </li>
        </ul>
    </div>
</nav>
